body{
	font: 10pt Arial, Helvetica, sans-serif;
	background: #e1dfb9;
}

div{
	width: 100%;
	height: 100px;
	border: 1px solid black;
	border-radius: 5px;
}

p{
	text-align: center;
}

.item-field {
	width: 100%;
	height: 900px;
	border: 1px solid black;
}

.top-field {
	position: relative;
	width: 100%;
	float: top;
	left: 0;
}

.navi-panel {
	position: absolute;
	width: 99%;
	height: 50px;
	bottom: 0;
	left: 0;
	margin: 0 auto;	
}

.navi-table {
	width: 400px;
	height: 30px;
	border-collapse: collapse;
	margin: auto;
}

.navi-cell {
	width: 100px;
	height: 30px;
}

#button-navi {
	float: left;
	width: 100px;
	height: 30px;
	margin-right: 10px;
	font-size: 12px;
}

.left-field{
	float: left;
	width: 12%;
	height: 600px;
	padding: 0 10px;
	margin-top: 10px;
}

.right-field {
	float: right;
	width: 85%;
	height: 600px;
	margin-top: 10px;
	text-align: center;
}

.bottom-field{
	position:fixed;
	height: 50px;
	width: 100%; 
	left: 0;
	bottom: 0;
	padding: 10px;
	background-color: #39b54a;
	color: #fff;
}

#button-apply {
	margin: 5px;
	display: flex;
	flex-flow: column-wrap;
}